{% extends 'document/base.html' %}
{% load staticfiles %}

{% block title %}Document{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'document/css/mydocs.css' %}" />
{% endblock %}

{% block pageName %}내 문서{% endblock %}
{% block pageInfo %}저장된 문서를 보여줍니다{% endblock %}

{% block content %}

    <div class="docs-menu">
        <select id="status-list" onchange="filterByStatus()">
            <option value="{{default_status}}">{{default_status}}</option>
            {% for status in status_list %}
            <option value="{{status}}">{{status}}</option>
            {% endfor %}
        </select>
        <div class="search-keyword">
            <input id="keyword" type="text" placeholder="키워드 검색" />
        </div>
    </div>

    <div class="docs-table">
        <div class="docs-list section">
            <div class="state-sec">
                상태
            </div>
            <div class="name-sec">
                문서 이름
            </div>
            <div class="folder-sec">
                폴더
            </div>
            <div class="creator-sec">
                서명요청자
            </div>
            <div class="partner-sec">
                서명참여자
            </div>
            <div class="time-sec">
                마지막 활동 시간
            </div>
        </div>
        {% if docs %}
            {% for doc in docs %}
            <div class="docs-list">
                <div class="state-sec">
                    {{doc.status}}
                </div>
                <div class="name-sec">
                    <a href="{{ doc.docs.url }}">{{doc.filename}}</a>
                </div>
                <div class="folder-sec">
                    {% if doc.folder %}
                    {{doc.folder}}
                    {% endif %}
                </div>
                <div class="creator-sec">
                    {{doc.creator.username}}
                </div>
                <div class="partner-sec">
                    {% for p in doc.partners.all %}
                        <div>{{ p.username }}</div>
                    {% endfor %}
                </div>
                <div class="time-sec">
                    {{doc.updated_at|date:"Y/m/d H:i:s"}}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class='docs-list'>
                결과없음
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
<script>
    filterByStatus = () => {
        var inputBox = document.getElementById("status-list");
        var status = inputBox.options[inputBox.selectedIndex].value;
        status = status.replace(/ /gi, "-"); 
        var url = `/document/filter/status/${status}`;
        window.location.href = url;
    };
    $("#keyword").keypress( e => {
        if(e.which === 13){
            var searchBox = document.getElementById("keyword");
            var keyword = searchBox.value;
            var url = `/document/search/${keyword}`;
            window.location.href = url;
        }
    });
</script>
{% endblock %}