<div class="sidebar">
    <div class="logo">
        <a href="{% url 'document:docu-index' %}">CLONESIGN</a>
    </div>
    <div class="upload">
        <a href="#">업로드</a>
    </div>
    <div class="status">
        <div class="total-num">
            <div class="username">{{ user.username }}님</div>
            <div class="count">총 계약서: {{ total_docs }}</div>
            <div class="count">내 계약서: {{ self_docs }}</div>
            <div class="count">참여 한 계약서: {{ part_docs }}</div>
        </div>
    </div>
    <div class="menu">
        <div active><a href="{% url 'document:docu-index' %}">내 문서</a></div>
        <div><a href="#">내 서명</a></div>
        <div><a href="#">내 정보</a></div>
    </div>
    <div class="make-doc">
        <a href="#">내 템플릿</a>
    </div>
    <div class="logout">
        <a href="{% url 'user:logout' %}">로그아웃</a>
    </div>
</div>